/* Общие настройки елементов */

/* html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "TT Lakes", sans-serif;
  padding: 0;
  margin: 0;
}

*,
body {
  padding: 0;
  margin: 0;

  font-family: "TT Lakes", sans-serif;
} */

/* Основа слайдера */

.swiper {
  height: 115px;

  width: 100vw;
}

.swiper-container {
  background-color: #f8f8f8;
  /* max-height: 200px; */
  min-width: 0;
}

.swiper-title {
  font-size: 1rem;
  text-transform: uppercase;
  color: #7e7e82;
  background-image: linear-gradient(0.25turn, #f8f8f8, #ffffff);
  min-width: 100vw;
}

.swiper-title__text {
  padding: 16px 16px 16px 0px;
  margin-bottom: 16px;
}

.swiper-slide {
  display: flex;
  flex-direction: row;
  width: 240px;
  height: 72px;
  min-width: 240px;
  min-height: 72px;
  align-items: center;
}

.swiper-slide__item {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 72px;
  width: 240px;
  justify-content: space-around;
  align-items: center;
  background: white;

  border-radius: 6px;
  border: 1px solid rgba(234, 234, 234, 1);
}

.swiper-slide__item::after {
  content: "";
  background: rgba(0, 0, 0, 0) url(./img/header-item/dropdown.svg) center
    no-repeat;
  background-size: auto;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 180px;
  border: 2px solid rgba(255, 62, 121, 1);
  border-radius: 50%;
}

.swiper-slide__item:hover::after {
  transition: all 1s ease;
  border: none;
  background-color: rgba(255, 62, 120, 0.238);
}

.swiper-slide__img {
  width: 108px;
  height: 32px;
  height: 45px;
  align-items: center;
  display: flex;
}

.swiper-slide__but {
  /* background: rgba(0, 0, 0, 0) url("./img/header-item/go.svg") center no-repeat;
  background-size: cover; */
  width: 40px;
  height: 40px;
}

.swiper-pagination-bullet-active {
  background: #7e7e82;
}

.brends {
  display: none;
}

.display-slider-none-1120 {
  display: none;
}

.read-more-none-768 {
  display: none;
}
/* .display-slider-none-read-more {
  display: none;
} */

@media (min-width: 768px) {
  .swiper {
    display: none;
  }

  .brends {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .display-slider-none-768 {
    display: none;
  }

  .read-more-none-768 {
    display: block;
    margin-top: 24px;
  }
}

@media (min-width: 1065px) {
  .display-slider-none-768 {
    display: block;
  }
}

.hide-read-more {
  display: none;
}

/* Раскрываются при нажатии Читать далее */

.display-slider-view-read-more {
  display: block;
}
